---
title: Online Darts Scorer
---
<div class="container">
  <h1>
    Playing Darts is fun.<br>
    With dartboard.io it's even more fun!
  </h1>

  <p>
    <strong>dartboard.io is an online darts scorer.</strong><br>
    All you have to do is enter the darts you threw on a real digital dartboard. Calculating scores and keeping track of of the game is all taken care of by the darts scorer. You and your friends can focus on throwing darts and having fun.
  </p>
</div>

<div class="container">
  <div class="two-columns-column">
    <p>
      Besides of calculating scores dartboard.io is capable of even more. There is no limit on the maximum number of players and you have full control over the settings. You decide how many legs are needed to win the match, you set the starting score and you pick if it’s Straight Out, Double Out or Master Out.
    </p>

    <p>
      To top it all you get extensive statistics about your darts game. The darts scorer calculates your match average, leg average, highest throw and the best finish. Based on the game mode it also calculates your checkout percentages for the various fields.
    </p>

    <%= link_to "Try it out #{inline_svg("icons/arrow-right.svg")}", "http://app.dartboard.io", class: "link-button" %>
  </div>
  <div class="two-columns-column">
    <%= image_tag "images/01.png", class: "teaser-image" %>
  </div>
</div>

<div class="container">
  <hr>

  <h3>What is dartboard.io offering</h3>
</div>

<div class="container">
  <div class="two-columns-column">
    <h2>No Mental Calculations</h2>
    <p>
      Enter the darts as they hit the dartboard, the app calculates the score for all players. No more manual calculations, no more disagreements about who scored what. The darts scorer is fast and makes no mistakes.
    </p>

    <h2>Detailed Statistics</h2>
    <p>
      Do you want to know your average? No problem, the darts scorer has you covered. It even shows you your best throw and highest finish. Since the darts are entered one by one it also calculates your checkout percentage.
    </p>

    <%= image_tag "images/02.png" %>
  </div>
  <div class="two-columns-column">
    <h2>All Checkout Variants</h2>
    <p>
      Obviously a Pro like you will only play Double Out, but dartboard.io also supports Straight Out and Master Out. That way everybody can pick the right checkout variant for their skill level.
    </p>

    <h2>Play Anonymously</h2>
    <p>
      It’s very easy to give dartboard.io a try and check it out. There is no need to sign up and create an account. Simply enter a player name and use the darts scorer completely anonymously.
    </p>

    <%= image_tag "images/03.png" %>
  </div>
</div>

<div class="container">
  <div class="two-columns-column">
    <h2>Different Game Modes</h2>
    <p>
      You are not limited to play 501 all day long, choose freely between 1001, 501 and 301. Actually you can enter any starting score you can think of, the darts scorer supports them all.
    </p>

    <h2>Unlimited Players</h2>
    <p>
      No matter how many friends you have over — everybody can play on the same match. That’s right, you can add as many players to a match as you wish. The darts scorer takes care of turn order rotation between the legs.
    </p>

    <%= image_tag "images/04.png" %>
  </div>
  <div class="two-columns-column">
    <h2>Unlimited Legs</h2>
    <p>
      Before starting a match you decide how many legs should be played. It can be a single leg, a best of three or something entirely different. You can even imitate the PDC Premier League and play 12 legs where a draw is possible.
    </p>

    <h2>Player Profiles & Statistics</h2>
    <p>
      If you are a fan of statistics like we are you can create your very own player profile. Once you have done this the darts scorer will collect all of your statistics and you can review your performance of all your played matches.
    </p>

    <%= image_tag "images/05.png" %>
  </div>
</div>

<div class="container">
  <div class="two-columns-column">
    <h2>Multiple Device Support</h2>
    <p>
      dartboard.io works everywhere, you can calculate your dart score on your computer, laptop and tablet. It doesn’t matter if you are using Windows, OS X, Linux, Android or iOS — It just works.
    </p>
  </div>
  <div class="two-columns-column">
    <h2>No Download Required</h2>
    <p>
      Yes you read that right. You don’t have to download and install anything in order to use the darts scorer. Visit <%= link_to "app.dartboard.io", "http://app.dartboard.io" %> in your browser and you are ready to go.
    </p>
  </div>
</div>

<div class="container aligned-center full-page-call-to-action">
  <%= link_to "Try dartboard.io now, it's free!#{inline_svg("icons/arrow-right.svg")}", "http://app.dartboard.io", class: "link-button" %>
</div>
